* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

div#title {
    margin: 24px 0 16px;
    background-color: #f00;
    padding: 8px;
}

div#title h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0ff;
    width: fit-content;
    margin: 0 auto;
}

div ul li a img {
    height: auto;
    width: 275px;
}